#mainNav .navbar-toggler
{
    font-size:0.8rem;
    padding:.75rem;
    color:#2753F0;
    border:1px solid #2753F0;
    outline: 0;
}

#mainNav
 {min-height:56px;
  background-color:#fff}

 #mainNav .navbar-toggler
 {font-size:80%;
  padding:.75rem;
  color:#2753F0;
  border:1px solid #2753F0}

 #mainNav .navbar-toggler:focus{outline:0}

 #mainNav .navbar-brand
 {color:#161616;
  font-weight:700;
  padding:.9rem 0}

 #mainNav .navbar-nav .nav-item:hover
 {color:fade(white,80%);
  outline:0;
  background-color:transparent}

 #mainNav .navbar-nav .nav-item:active,#mainNav .navbar-nav .nav-item:focus
 {outline:0;
  background-color:transparent}

 @media (min-width:992px)
 {#mainNav
  {padding-top:0;
    padding-bottom:0;
    border-bottom:none;
    background-color:transparent;
    transition:background-color .3s ease-in-out}

  #mainNav .navbar-brand
  {padding:.5rem 0;
    color:rgba(255,255,255,.5)}
  #mainNav .nav-link{transition:none;padding:2rem 1.5rem;color:rgba(255,255,255,.5)}
  #mainNav .nav-link:hover{color:rgba(255,255,255,.75)}
  #mainNav .nav-link:active{color:#fff}
  #mainNav.navbar-shrink{background-color:#fff}
  #mainNav.navbar-shrink .navbar-brand{color:#161616}
  #mainNav.navbar-shrink .nav-link{color:#161616;padding:1.5rem 1.5rem 1.25rem;border-bottom:.25rem solid transparent}
  #mainNav.navbar-shrink .nav-link:hover{color:#2753F0}
  #mainNav.navbar-shrink .nav-link:active{color:#467370}
  #mainNav.navbar-shrink .nav-link.active{color:#2753F0;outline:0;border-bottom:.25rem solid #2753F0}}

video {
    width: 100%;
    max-height: 90vh;
    object-fit: fill;
}

.wrapper {
    position: relative;
}
.my-text-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* bottom: 2rem; */
    color: #fff;
    align-items: flex-end;
    justify-content: center;
}

.my-text {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.project-text{
  padding:3rem;
  font-size: 90%;
}

.skills{
  padding-top: 1rem;
}

.about-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
}
.about-section p {
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: center;
}
	.signup-section
  { padding:4rem 0;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover
  }
 	.signup-section .form-inline input
  { box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding:1.25rem 2rem;
    height:auto;
    font-family: 'Work Sans', sans-serif;
    font-size:80%;
    text-transform:uppercase;
    letter-spacing:.15rem;
    border:0
  }
  .projects-section {
    padding: 5rem 0;
  }
  .projects-section .project-text hr{border-color:#2753F0;border-width:.25rem;width:30%}
 	.contact-section{padding:2rem 0 0}
 	.contact-section .card{border:0;border-bottom:.25rem solid #64a19d}
 	.contact-section .card h4{font-size:.8rem;font-family: 'Work Sans', sans-serif;;text-transform:uppercase;letter-spacing:.15rem}
 	.contact-section .card hr{border-color:#2753F0;border-width:.25rem;width:3rem}
 	.contact-section .social{margin-top:2rem}
 	.contact-section .social a
  { text-align:center;
    height:3rem;
    width:3rem;
    background:rgba(255,255,255,.1);
    border-radius:100%;
    line-height:3rem;
    color:rgba(255,255,255,.3)
  }
 	.contact-section .social a:hover{color:rgba(255,255,255,.5)}
 	.contact-section .social a:active{color:#fff}body{font-family: 'Work Sans', sans-serif;;letter-spacing:.0625em}a{color:#9DA0AA}a:focus,a:hover{text-decoration:none;color:#3c6360}
 	.bg-black{background-color:#161616!important}
 	.bg-primary{background-color:#2753F0!important}
 	.text-primary{color:#2753F0!important}

footer{padding:2rem 0}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.color1{
  color:#2753F0;
}

.formatHeader{
  color:white;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }

}

#newtype{
    font-weight: bold;
    color: #2753F0;
}